<ion-header>
  <ion-toolbar>
    <ion-title>Movies list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [showCancelButton]="true" (ionChange)="onInput($event)" [debounce]=500></ion-searchbar>
  <p *ngIf="error != null"> Erreur : {{error}} </p>
  <div *ngIf="listItem != null" class="cardList">
    <ion-card class="card" *ngFor="let item of listItem">
      <ion-img [src]="item.Poster"></ion-img>
      <div class="card-content">
        <div class="title">{{item.Title}}</div>
        <div class="year">{{item.Year}}</div>
      </div>
    </ion-card>
  </div>
</ion-content>