<ion-content padding>
  <ion-tabs selectedIndex="0">
    <ion-tab-bar color="white" slot="bottom" >
      <ion-tab-button tab="movie-list">
        <ion-label>Movies</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="serie-list">
        <ion-label>Series</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  
  <!-- <ion-searchbar [(ngModel)]="searchValue" [showCancelButton]="true" (ionInput)="onInput($event)"></ion-searchbar> -->
  <!-- <p *ngIf="error != null"> Erreur : {{error}} </p>
  <div *ngIf="movie != null">
    <p> Film : </p>
    <p *ngFor="let item of movie | keyvalue">
      {{item.key}} : {{item.value}}
    </p>
  </div> -->
</ion-content>