<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p *ngIf="info != null"> Info : {{info}} </p>

  <div class="buttonList">
    <div >
      <ion-button color="dark " (click)='downloadJsonFile()'>Export favorites</ion-button>
      <div id="download"></div>
    </div>
    <div >
      <input #uploader type="file" (change)="onJsonFileChange($event)" accept=".json,application/JSON" hidden="true" />
      <ion-button color="dark" type="submit" (click)='uploader.click()'>Upload favorites</ion-button>
    </div>
  </div>
    


</ion-content>