<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p *ngIf="info != null"> Info : {{info}} </p>
  <div>
    <ion-button (click)='downloadJsonFile()'>Export favorites in json file</ion-button>
    <div id="download"></div>
  </div>
  <div>
    <input #uploader type="file" (change)="onJsonFileChange($event)" accept=".json,application/json" hidden="true"/>
    <ion-button type="submit" (click)='uploader.click()'>Upload favorites with json file</ion-button>
  </div>

</ion-content>